*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
   
}
#tit{
    position: absolute;
    left: 30px;
    font-weight: 400;
    font-size: 18px;
}
#logi{
    color: #f19537;
    font-size: 19px;
}
#btn{
    position: absolute;
    top: 8px;
    right: 30px;
    color: white;
    background-color: #f19537;
    border-radius: 5px;
    border: none;
    height: 42px;
    width: 109px;
}
.home{
   font-weight: 100;
   position: absolute;
   top: 4px;
   right: 170px;
}
.header{
   display: flex;
   justify-content:center;
   gap: 50px;
  height: 50px;
  font-weight:lighter;
  background-color: #f8f9fa;
  text-align: center;
  font-weight: 400;
  padding: 10px;
}
.min{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-2422461.jpg&fm=jpg");
    height: 70vh;
    width: 98.9vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 53px;
}
.inner{
    width: 600px;
    height: 500px;
    color: white;
    position: absolute;
    top: 45%;
    left: 30%;
    text-align: center;
}
.para{
    font-size: 24px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 1rem;
}
input{
    width: 1036px;
    height: 58px;
    position: absolute;
    bottom: 80px;
    left: 220px;
    border-radius: 10px;
    border: none;
}
input::placeholder{
    padding: 10px;
    font-size: 15px;
    font-weight: lighter;
}
img[alt="cardimg"]{
    height: 554px;
    width: 336px;
    border-radius: 10px;
    overflow: hidden;
}
img[alt="cardimg"]:hover{
   
    transform: scale(1,1.04);
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.card{
   width: 94vw;
    position:relative;
    top:85vh;
    left: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 30px;
    
}
.innerdata{
    position: relative;
    height: 554px;
    width: 336px;
    overflow: hidden;
    border-radius: 10px;
}
.data{
        position: absolute;
        bottom: 30px;
        left: 90px;
        z-index: 1;
        letter-spacing: 2px;
        text-align: center;
        color: white;
}

.container{
    position: absolute;
    top: 258vh;
    height: 40px;
    width: 100vw;
    text-align: center;
    padding-top: 8px;
    background-color: #f1f1f1;
}
* navbar css */
nav{
  background-color: #f8f9fa;
  width: 100%;
  display: inline-block;
  height: 70px;
  position: relative;
  font-weight: bold;
  
}
nav li{
  text-decoration: none;
  display: inline-block;
  padding: 0px 30px;
  font-family: var(--bs-font-sans-serif);
}
nav ul{

  position: absolute;
  top:20px;
   margin-left: 60pc;
}
nav span{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2rem;
}

nav button{
  background-color: #F19537;
  color: white;
  border: none;
  padding: 10px 20px; 
  border-radius: 10px;
}
#col{
  color: #F19537;
}

/* footer */
.container {
  width: 100%;
  color: #999;
  padding-left: 100px;
  padding-top: 15px;
  background-color: #9999996b;
  height: 50px;
}
/* background */
#bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-2422461.jpg&fm=jpg");
  height: 70vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#con{
  position: absolute;
  color: white;
  text-align: center;
  width: 1200px;
  bottom: 34%;
  left: 9%;

}
#con h1{
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
#con p {
  font-size: 24px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1rem;
}
#con input{
  width: 80%;
  height: 50px;
  border-radius: 8px;
  border: none;   
}
#hover:hover{

  /* transform: scale(1.03);
  transition: all 2sec;*/
  cursor: pointer; 
  transform: scale(1.02);
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
#text{
position: absolute;
bottom: 35px;
color: white;
 right: 105px; 
 text-align: center;
 z-index: 1;
 font-weight: bold;
 font-size: 1.5rem;
}