*{
    margin: 0px;
    padding: 0px;
    /* border: 2px solid; */
}
.btn{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient( #5b8c92, #B7E0FF);
    width: 110px;
}
.btn:hover{
    transform: scale(0.9,1);
}
img:hover{
    transform: scale(0.9,1);  
}
div{
    background: linear-gradient( #5b8c92, #B7E0FF);
}
